@charset "UTF-8";
body{
  margin: 0;
  padding: 0;
}
section{
  position: relative;
  width: 100%;
  height:850px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:5em;
  font-weight:800;
  color: white
}
section:nth-child(1){
	background: url(img/back.png);
}
section:nth-child(2){
	background: url(img/back3.png);

}
section:nth-child(3){
	background: url(img/back2.png);
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	background: #083353;
}
nav a{
	position: relative;
	color: aliceblue;
	text-decoration: none;
	padding:8px 25px;
	font-size: 1.5em;
	text-transform: uppercase;
	display: inline-block;
}
nav a:hover,
section#n1: hover~nav a[href="#n1"],
section#n2: hover~nav a[href="#n2"],
section#n3: hover~nav a[href="#n3"]
{
	background:#A8E9F1;
	color:#0E3E44;
}
nav a:active{
	background:#94FAB3;
}